{% load static %}

<!doctype html>
<html>
<head>
	<title>
	{% block full_title %}
		{% block title %}default title - change me{% endblock %} | Film AI Suggestions
	{% endblock %}
	</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'dist/screen.css' %}">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="main">
		{% block content %}{% endblock %}
	</div>
	<script src="{% static "dist/script.js" %}"></script>
</body>
</html>
