{% extends "base.html" %}

{% load static %}
{% load film_suggestions_tags %}

{% block title %}Discover Your Next Favorite Film{% endblock %}

{% block content %}
	<form method="POST" id="suggestion-form" novalidate>
		{% csrf_token %}

		{% render_field form.film_type %}
		{% render_field form.genre %}
		{% render_field form.release_year %}
		{% render_field form.preferred_actors %}
		{% render_field form.preferred_directors %}

		<button type="submit">
			Submit
		</button>
	</form>
{% endblock %}
